@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-std-dynamic-subset.css");

html,
body {
	font-family: "Pretendard Std", sans-serif;
}

/* progressbar design */
.progressDot_Active {
	width: 28px;
	height: 28px;
	border-radius: 9999px;
	background-color: #000;
}

.progressDot_InActive {
	width: 28px;
	height: 28px;
	border-radius: 9999px;
	background-color: rgba(0, 0, 0, 0.3);
}

.progressLine_Active {
	width: 128px;
	height: 4px;
	margin: auto 0;
	background-color: #000;
}

.progressLine_InActive {
	width: 128px;
	height: 4px;
	margin: auto 0;
	background-color: rgba(0, 0, 0, 0.3);
}
.progressBar_Wrapper {
	display: flex;
	justify-content: center;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 60px;
	height: 60px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 44px;
	height: 44px;
	margin: 8px;
	border: 6px solid gray;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: gray transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
